<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>org.tean8.blog.controller.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/item</servlet-name>
        <servlet-class>org.tean8.blog.controller.Item</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/item</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>/ArticleController</servlet-name>
    <servlet-class>org.tean8.blog.controller.ArticleController</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>/ArticleController</servlet-name>
        <url-pattern>/ArticleController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/TypeTagServlet</servlet-name>
        <servlet-class>org.tean8.blog.controller.TypeTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/TypeTagServlet</servlet-name>
        <url-pattern>/TypeTagServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/CommentServlet</servlet-name>
        <servlet-class>org.tean8.blog.controller.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/UserServlet</servlet-name>
        <servlet-class>org.tean8.blog.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/JsonController</servlet-name>
        <servlet-class>org.tean8.blog.controller.JsonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/JsonController</servlet-name>
        <url-pattern>/JsonController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>/LinkController</servlet-name>
        <servlet-class>org.tean8.blog.controller.LinkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/LinkController</servlet-name>
        <url-pattern>/LinkController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>/NoticeController</servlet-name>
        <servlet-class>org.tean8.blog.controller.NoticeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/NoticeController</servlet-name>
        <url-pattern>/NoticeController</url-pattern>
    </servlet-mapping>
</web-app>
